# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db

# Generated QR codes
static/qr/
